<h1>TASC Store of Perplexing Variety</h1>
<main>
    <h2>
        Store Catalog
    </h2>
    <app-goods-item
        *ngFor="let item of catalog; let i = index"
        [title]="item.title"
        [price]="item.price"
        (click)="addToBasket(i)">
    </app-goods-item>
    <h2>
        Shopping Basket
    </h2>
    <app-goods-item
        *ngFor="let item of basket; let i = index"
        [title]="item.title"
        [price]="item.price"
        (click)="removeItem(i)">
    </app-goods-item>
    <div>
        <button [disabled]="!basket.length" (click)="newBasket()">Empty Shopping Basket</button>
        <button [disabled]="!basket.length" (click)="printReceipt()">Checkout</button>
    </div>
    <div *ngIf="receipt.length">
        <h1>Receipt</h1>
        <ul>
            <app-receipt
                *ngFor="let item of receipt;"
                [title]="item.title"
                [price]="item.taxIncludedPrice">
            </app-receipt>
            <li>Sales Tax: {{ taxes }}</li>
            <li>Total: {{ total }}</li>
        </ul>
    </div>
</main>

